$header-height: 56px;
$prefix: 'w-';
// 边框默认颜色
$border-color: #dbdbdb;
// 阴影的颜色
$shadow-color: rgba(0, 0, 0, 0.1);

// 默认颜色
$nothing-color: #fff;

// 标题的颜色
$title-color: #333;

// 文字的颜色
$text-color: #999;

// 表格头部文字颜色
$thead-text-color: #666;

//------------ B ---------------

//品牌主色 默认 / 线框色 筛选标签 / 文字色 全局提示、标签、超链接文字 / 筛选标签色 选中边框 / 复选标签色 默认文字
$brand-color-default: #1996f9;

//品牌浅色 悬停 / 按钮边框色 悬停 / 筛选标签色 悬停边框 / 复选标签色 悬停
$brand-color-hover: #50affa;

//品牌重色 点击 / 按钮边框色 点击
$brand-color-click: #147dd9;

//品牌背景色 选中 / 背景色 全局提示/选择模板
$brand-color-select: #f2f9ff;

//辅助功能色 警告
$auxiliary-color-warning: #fd883b;

//辅助功能色 成功 / 文字色 收集中
$auxiliary-color-success: #4cbd63;

//辅助功能色 危险
$auxiliary-color-danger: #ff4949;

// bar 边框颜色
$bar-border-color: #e8e8e8;
$bar-on-bg: #f0f0f0;

// menu
$menu-on-bg: #f0f0f0;
