@import './config.scss';

.w-menu-message {
  &-main {
    box-shadow: 0 4px 8px $shadow-color;
    width: 640px;
    margin-left: -320px;
    position: absolute;
    top: 12px;
    left: 50%;
    border-radius: 4px;
  }

  &-success {
    background: $auxiliary-color-success;
  }

  &-info {
    background: $brand-color-default;
  }

  &-warning {
    background: $auxiliary-color-warning;
  }

  &-error {
    background: $auxiliary-color-danger;
  }

  &-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999;
  }

  &-text {
    line-height: 1;
    padding: 0 32px;
    font-size: 12px;
    color: $background-color-write;
    word-break: break-all;
  }
}
