$time: 0.4s;
$family: Helvetica, "PingFang SC", STHeiti, "Microsoft YaHei", 微软雅黑, Verdana,Arial, Tahoma, STXihei, 华文细黑, MicrosoftYaHeiUI, sans-serif;

$write: #fff;
//文字色 列表内容、标签、默认文字
$text-color-default: #333;
// 字体图标的颜色
$icon-color: #999;
//背景色 标题、列表字段
$background-color-title: #f5f6fa;
//遮罩层的颜色
$mask-color: rgba(0, 0, 0, 0.3);
// 阴影的颜色
$shadow-color: rgba(0, 0, 0, 0.1);
// message
$brand-color-default: #1996f9;
$auxiliary-color-warning: #fd883b;
$auxiliary-color-success: #4cbd63;
$auxiliary-color-danger: #ff4949;
