@import './config.scss';
@import './mixin.scss';

.w-menu {
  width: 46px;
  background: #404040;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  transition: width $time;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    background: #2d2c2c;
    margin-bottom: 12px;

    &-icon {
      width: 26px;
      height: 26px;
      border-radius: 13px;
    }

    &-title {
      @include ellipsis();

      font-family: $family;
      font-size: 12px;
      color: #fff;
      width: 0;
      height: 14px;
      line-height: 14px;
      transition: width $time, padding $time;
    }
  } // end w-menu-header

  &-list {
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow: auto;

    &-link {
      display: flex;
      align-items: center;
      height: 42px;
      padding-left: 15px;
      transition: background $time;

      // 导航hover状态
      &:hover {
        text-decoration: none !important;
        background: #535353;

        & .w-menu-list-title {
          color: #fff;
        }
      }

      &:focus {
        outline: none;
      }

      // 导航选中状态
      &.on {
        background: #fff;

        & .w-menu-list-title {
          color: #333;
        }

        & .w-menu-list-img:nth-of-type(1) {
          display: none;
        }

        & .w-menu-list-img:nth-of-type(2) {
          display: block;
        }
      }
    }

    &-item {
      list-style: none;
    }

    &-img {
      width: 16px;
      height: 16px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      @include ellipsis();

      font-family: $family;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 18px;
      height: 18px;
      width: 0;
      transition: color $time, width $time, padding $time;
    }
  } // end w-menu-list

  &-hover {
    width: 180px;

    & .w-menu-header-title {
      padding-left: 10px;
      width: 120px;
    }

    & .w-menu-list-title {
      width: 126px;
      padding-left: 16px;
    }

    & .w-menu-release {
      width: 140px;
      height: 32px;
      margin: 14px auto 14px;

      &-title {
        padding-left: 10px;
        width: auto;
      }
    }

    & .w-menu-quit-title {
      width: auto;
      padding-left: 3px;
    }
  } // w-menu-hover

  &-release {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 28px auto 36px;
    background: #1996f9;
    border-radius: 21px;
    transition: background $time, margin $time, width $time, height $time;

    &:hover {
      text-decoration: none !important;
      background: #50affa;
    }

    &:focus {
      outline: none;
    }

    &-title {
      font-family: $family;
      font-size: 14px;
      color: #fff;
      line-height: 18px;
      height: 18px;
      display: -none;
      width: 0;
      padding: 0;
      transition: width $time, padding $time;
      overflow: hidden;
    }

    &-img {
      width: 14px;
      height: 14px;
    }
  } // w-menu-release

  &-quit {
    height: 14px;
    width: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;

    &:hover {
      text-decoration: none !important;
      transition: color $time;
      color: #fff;

      & .w-menu-quit-img:nth-of-type(1) {
        display: none;
      }

      & .w-menu-quit-img:nth-of-type(2) {
        display: block;
      }
    }

    &:focus {
      outline: none;
    }

    &-img {
      width: 12px;
      height: 12px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      font-family: $family;
      font-size: 12px;
      width: 0;
      transition: width $time, adding $time;
      overflow: hidden;
    }
  } // w-menu-quit
}
