@import './config.scss';
@import './mixin.scss';
@import './message.scss';

.w-menu {
  width: 46px;
  background: #252A2E;
  cursor: pointer;
  transition: width $time;
  height: 100%;
  position: relative;

  &-warp {
    width: 46px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 82;
  }

  &-header {
    height: 54px;
    overflow: hidden;
    background: #151B1F;
    margin-bottom: 12px;
    position: relative;

    &-icon {
      width: 26px;
      height: 26px;
      border-radius: 13px;
      position: absolute;
      left: 10px;
      top: 14px;
    }

    &-title {
      overflow: hidden;
      font-family: $family;
      font-size: 12px;
      color: #fff;
      width: 0;
      height: 54px;
      padding-left: 46px;
      line-height: 54px;
      display: block;
      transition: width $time, padding $time;

      &:hover {
        text-decoration: none !important;
      }
    }
  } // end w-menu-header

  &-list {
    margin: 0;
    padding: 0;
    max-height: 504px;
    overflow: auto;

    &-link {
      display: flex;
      align-items: center;
      height: 42px;
      padding-left: 15px;
      transition: background $time;
      overflow: hidden;

      // 导航hover状态
      &:hover {
        text-decoration: none !important;
        background: #343A3E;

        & .w-menu-list-title {
          color: #fff;
        }
      }

      &:focus {
        outline: none;
      }

      // 导航选中状态
      &.on {
        background: #fff;

        & .w-menu-list-title {
          color: #333;
        }

        & .w-menu-list-img:nth-of-type(1) {
          display: none;
        }

        & .w-menu-list-img:nth-of-type(2) {
          display: block;
        }
      }
    }

    &-item {
      list-style: none;
    }

    &-img {
      width: 16px;
      height: 16px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      overflow: hidden;
      font-family: $family;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 18px;
      height: 18px;
      width: 0;
      padding-left: 16px;
      transition: color $time, width $time, padding $time;
    }
  } // end w-menu-list

  &:hover,
  &-hover {
    width: 180px;

    & .w-menu-header-title {
      width: 120px;
    }

    & .w-menu-list-title {
      width: 126px;
    }

    & .w-menu-release {
      width: 140px;
      height: 32px;
      margin: 14px auto;

      &-title {
        padding-left: 10px;
        width: auto;
      }
    }

    & .w-menu-quit-title {
      width: auto;
      padding-left: 3px;
    }
  } // w-menu-hover

  &-release {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 28px auto 16px;
    background: #1996f9;
    border-radius: 21px;
    transition: background $time, margin $time, width $time, height $time;

    &:hover {
      text-decoration: none !important;
      background: #50affa;
    }

    &:focus {
      outline: none;
    }

    &-title {
      font-family: $family;
      font-size: 14px;
      color: #fff;
      line-height: 18px;
      height: 18px;
      width: 0;
      padding: 0;
      transition: width $time, padding $time;
      overflow: hidden;
    }

    &-img {
      width: 14px;
      height: 14px;
    }
  } // w-menu-release

  &-quit {
    height: 14px;
    width: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;

    &:hover {
      text-decoration: none !important;
      color: #fff;

      & .w-menu-quit-img:nth-of-type(1) {
        display: none;
      }

      & .w-menu-quit-img:nth-of-type(2) {
        display: block;
      }
    }

    &:focus {
      outline: none;
    }

    &-img {
      width: 12px;
      height: 12px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      font-family: $family;
      font-size: 12px;
      width: 0;
      transition: width $time, adding $time;
      overflow: hidden;
    }
  } // w-menu-quit

  // 弹框
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);

    &-box {
      width: 636px;
      height: 418px;
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &-close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      color: #999;
      font-size: 28px;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &-title {
      padding: 52px 0 40px;
      font-size: 18px;
      color: #333;
      text-align: center;
      line-height: 18px;
      margin: 0;
      font-weight: normal;
    }

    &-modal {
      width: 510px;
      margin: 40px auto 0;
      display: flex;
      justify-content: space-between;
    }

    &-light {
      position: relative;
      width: 240px;
      height: 240px;
      text-align: center;
      background-color: #1996f9;
      border-radius: 3px;
      font-size: 0;
      cursor: pointer;

      &::before {
        transition: background 0.35s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
      }

      &:last-child {
        background-color: #ffa430;

        & .emfe-header-mask-box-modal-light-title {
          margin-top: 20px;
        }
      }

      &:hover {
        text-decoration: none !important;

        &::before {
          background-color: rgba(255, 255, 255, 0.2);
        }

        & .w-menu-mask-box-modal-light-img {
          transform: translateY(-8px);
        }
      }
    }

    &-img {
      margin-top: 45px;
      transition: transform 0.35s ease-in-out;
    }

    &-name {
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin-top: 12px;
      display: block;
    }

    &-content {
      font-size: 12px;
      color: #fff;
      padding: 0 17px;
      margin-top: 8px;
      line-height: 18px;
      text-align: center;
      display: block;
    }
  }

  &-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &-mask {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $mask-color;
      z-index: 505;
    }

    &-wrap {
      width: 440px;
      height: auto;
      background: $write;
      z-index: 1000;
      position: relative;
      box-shadow: 0 4px 8px $shadow-color;
    }

    &-header {
      border-bottom: 1px solid #dcdcdc;
      height: 40px;
      position: relative;
      font-size: 14px;
      background: #2599f2;
    }

    &-inner {
      text-align: center;
      color: #fff;
      line-height: 40px;
      font-size: 14px;
    }

    &-close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      color: #fff;
      font-size: 28px;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &-main {
      font-size: 14px;
      width: 100%;
      color: $text-color-default;
      padding: 40px;
      line-height: 1.5;
      text-align: center;
      box-sizing: border-box;
    }

    &-footer {
      height: 32px;
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-cancel,
    &-ok {
      line-height: 14px;
      padding: 10px 24px;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
      box-sizing: border-box;
      transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear;
      display: inline-block;

      &:focus {
        outline: none;
      }
    }

    &-cancel {
      background: #fff;
      color: #333;
      border-color: #dcdcdc;
      border: 1px solid #dbdbdb;
      margin-right: 16px;
    }

    &-ok {
      border-color: #1996f9;
      color: #fff;
      background-color: #1996f9;
      border: 1px solid #1996f9;
    }
  }
}
