@import './config.scss';
@import './mixin.scss';
@import './message.scss';

$menuHover: #343a3e;
$menu-bg: #252a2e;

.w-menu {
  width: 84px;
  background: $menu-bg;
  cursor: pointer;
  transition: width $time;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &-warp {
    width: 84px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 82;
  }

  &-header {
    height: 54px;
    background: #151b1f;
    margin-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 26px;
      height: 26px;
      border-radius: 13px;
    }
  }

  &-cont {
    max-height: calc(100vh - 84px - 66px);
    flex: 1;
    overflow: auto;
    padding-bottom: 12px;
  }

  &-footer {
    background-color: #151b1f;
    display: flex;
    height: 44px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &-list {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;

    &.margin0 {
      margin-bottom: 0;
      margin-top: 24px;
    }

    &-more {
      opacity: 0.7;
      font-family: 'PingFangSC-Medium';
      padding-left: 18px;
      margin-bottom: 6px;
      cursor: default;
      font-size: 12px;
      color: #fff;
    }

    &-link {
      display: flex;
      align-items: center;
      height: 42px;
      padding-left: 18px;
      transition: background $time;
      overflow: hidden;

      // 导航hover状态
      &:hover {
        text-decoration: none !important;
        background: $menuHover;

        & .w-menu-list-title {
          color: $write;
        }

        & .w-menu-tag {
          color: $menuHover;
        }
      }

      &:focus {
        outline: none;
      }

      // 导航选中状态
      &.on {
        background: $write;

        & .w-menu-list-title {
          color: $text-color-default;
        }

        & .w-menu-list-img:nth-of-type(1) {
          display: none;
        }

        & .w-menu-list-img:nth-of-type(2) {
          display: block;
        }

        & .w-menu-tag {
          color: $write;
        }
      }
    }

    &-item {
      list-style: none;
    }

    &-img {
      width: 16px;
      height: 16px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      overflow: hidden;
      font-family: $family;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 18px;
      height: 18px;
      padding-left: 10px;
      transition: color $time, width $time, padding $time;
    }
  }

  &-release {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 16px auto;
    background: $brand-color-default;
    border-radius: 21px;
    transition: background $time, margin $time, width $time, height $time;

    &:hover {
      text-decoration: none !important;
      background: #50affa;
    }

    &:focus {
      outline: none;
    }

    &-title {
      font-family: $family;
      font-size: 14px;
      color: $write;
      line-height: 18px;
      height: 18px;
      width: 0;
      padding: 0;
      transition: width $time, padding $time;
      overflow: hidden;
    }

    &-img {
      width: 14px;
      height: 14px;
    }
  } // w-menu-release

  &-quit {
    height: 44px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $icon-color;

    &:hover {
      text-decoration: none !important;
      color: $write;

      & .w-menu-quit-img:nth-of-type(1) {
        display: none;
      }

      & .w-menu-quit-img:nth-of-type(2) {
        display: block;
      }
    }

    &:focus {
      outline: none;
    }

    &-img {
      width: 16px;
      height: 16px;

      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    &-title {
      font-family: $family;
      font-size: 12px;
      width: 0;
      transition: width $time, padding $time;
      overflow: hidden;
    }
  } // w-menu-quit

  // 弹框
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);

    &-box {
      width: 636px;
      height: 418px;
      background-color: $write;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &-close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      color: $icon-color;
      font-size: 28px;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &-title {
      padding: 52px 0 40px;
      font-size: 18px;
      color: $text-color-default;
      text-align: center;
      line-height: 18px;
      margin: 0;
      font-weight: normal;
    }

    &-modal {
      width: 510px;
      margin: 40px auto 0;
      display: flex;
      justify-content: space-between;
    }

    &-light {
      position: relative;
      width: 240px;
      height: 240px;
      text-align: center;
      background-color: $brand-color-default;
      border-radius: 3px;
      font-size: 0;
      cursor: pointer;

      &::before {
        transition: background 0.35s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
      }

      &:last-child {
        background-color: #ffa430;

        & .emfe-header-mask-box-modal-light-title {
          margin-top: 20px;
        }
      }

      &:hover {
        text-decoration: none !important;

        &::before {
          background-color: rgba(255, 255, 255, 0.2);
        }

        & .w-menu-mask-box-modal-light-img {
          transform: translateY(-8px);
        }
      }
    }

    &-img {
      margin-top: 45px;
      transition: transform 0.35s ease-in-out;
    }

    &-name {
      font-size: 16px;
      color: $write;
      text-align: center;
      margin-top: 12px;
      display: block;
    }

    &-content {
      font-size: 12px;
      color: $write;
      padding: 0 17px;
      margin-top: 8px;
      line-height: 18px;
      text-align: center;
      display: block;
    }
  }

  &-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &-mask {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $mask-color;
      z-index: 505;
    }

    &-wrap {
      width: 440px;
      height: auto;
      background: $write;
      z-index: 1000;
      position: relative;
      box-shadow: 0 4px 8px $shadow-color;
    }

    &-header {
      border-bottom: 1px solid #dcdcdc;
      height: 40px;
      position: relative;
      font-size: 14px;
      background: #2599f2;
    }

    &-inner {
      text-align: center;
      color: $write;
      line-height: 40px;
      font-size: 14px;
    }

    &-close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      color: $write;
      font-size: 28px;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }

    &-main {
      font-size: 14px;
      width: 100%;
      color: $text-color-default;
      padding: 40px;
      line-height: 1.5;
      text-align: center;
      box-sizing: border-box;
    }

    &-footer {
      height: 32px;
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-cancel,
    &-ok {
      line-height: 14px;
      padding: 10px 24px;
      text-align: center;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
      box-sizing: border-box;
      transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear;
      display: inline-block;

      &:focus {
        outline: none;
      }
    }

    &-cancel {
      background: $write;
      color: $text-color-default;
      border: 1px solid #dbdbdb;
      margin-right: 16px;
    }

    &-ok {
      border-color: $brand-color-default;
      color: $write;
      background-color: $brand-color-default;
      border: 1px solid $brand-color-default;
    }

    &-authent {
      position: relative;
      width: 550px;
      height: auto;
      text-align: initial;
      border-radius: 4px;
      box-sizing: border-box;
      white-space: normal;
      transform-origin: -235px -209px 0;
      background: $write;
      z-index: 1000;
      box-shadow: 0 4px 8px $shadow-color;

      &-head {
        padding: 0 16px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        color: #323233;
        border-bottom: 1px solid #dcdee0;
        font-weight: 500;
      }

      &-body {
        padding: 16px;
        font-size: 14px;
        color: #323233;

        &-box {
          margin-top: 24px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          &-list {
            text-align: center;

            &-image {
              width: 50px;
              height: 50px;
            }

            &-text {
              margin: 0;
              font-size: 14px;
              color: #323233;
              font-family: 'PingFangSC-Regular';
              margin-top: 8px;
              line-height: 1;
            }
          }

          &-line {
            width: 70px;
            height: 2px;
            background-color: #f2f3f5;
            top: -12px;
            position: relative;
          }
        }
      }

      &-footer {
        padding: 0 16px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-btn {
          background: #0297fe;
          color: #fff;
          box-sizing: border-box;
          padding: 0 16px;
          display: inline-block;
          cursor: pointer;
          border-radius: 4px;
          border: 1px solid #fff;
          transition: all 0.3s ease;
          outline: none;
          user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          font-size: 12px;
          line-height: 26px;
          height: 28px;
        }
      }
    }
  }

  &-tag {
    position: relative;
    border-radius: 3px;
    font-style: normal;
    font-size: 14px;
    font-family: $family;
    font-weight: bold;
    color: $menu-bg;
    transform: scale(0.5);
    transform-origin: left top;
    line-height: 1;
    padding: 3px 5px 4px 4px;
    background: $tag-color;
    margin-left: 4px;
    float: left;

    &::before {
      content: '';
      position: absolute;
      left: -5px;
      bottom: -2px;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-right: 7px solid $tag-color;
      border-bottom: 2px solid transparent;
      transform: rotate(-30deg);
    }
  }
}
